@font-face {
	font-family: 'Stolzl';
	src: url(StolzlThin.otf);
	font-weight: 100;
	font-style: normal;
}
@font-face {
	font-family: 'Stolzl';
	src: url(StolzlLight.otf);
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Stolzl';
	src: url(StolzlRegular.otf);
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Stolzl';
	src: url(StolzlMedium.otf);
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Stolzl';
	src: url(StolzlBold.otf);
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'StolzlBook';
	src: url(StolzlBook.otf);
	font-weight: normal;
	font-style: normal;
}
